openapi: 3.0.3
info:
  title: Recipes - OpenAPI 3.0
  description: |-
    API для получения любимых рецептов в приложении 'Рецепты на заметку'
  termsOfService: http://swagger.io/terms/
  contact:
    email: yulya.polyakova.07@mail.ru
  version: 1.0.11
externalDocs:
  description: GitHUB
  url: https://github.com/JuliaMaffin123/MaffinRecipes
servers:
  - url: https://testoligon.ru/
tags:
  - name: recipes
    description: Рецепты
  - name: components
    description: Ингредиенты
  - name: steps
    description: Шаги приготовления
paths:
  /recipes/list:
    get:
      tags:
        - recipes
      summary: Получить список рецептов
      description: Получить список рецептов
      operationId: fetchReceiptList
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /recipes/{id}:
    get:
      tags:
        - recipes
      summary: Получить рецепт
      description: Получить рецепт
      operationId: fetchReceipt
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: ID рецепта
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'  
  /components/{id}:
    get:
      tags:
        - components
      summary: Получить ингредиенты рецепта
      description: Получить ингредиенты рецепта
      operationId: fetchComponents
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: ID рецепта
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'  
  /steps/{id}:
    get:
      tags:
        - steps
      summary: Получить шаги приготовления рецепта
      description: Получить шаги приготовления рецепта
      operationId: fetchSteps
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: ID рецепта
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSuccess'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'  
components:
  schemas:
    ResponseError:
      type: object
      properties:
        error:
          type: string
          example: Bad requeat
        success:
          type: boolean
          description: Признак успешного выполнения запроса
          example: false
    ResponseSuccess:
      type: object
      properties:
        data:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Recipe'
              - $ref: '#/components/schemas/Component'
              - $ref: '#/components/schemas/Step'
        success:
          type: boolean
          description: Признак успешного выполнения запроса
          example: true
    Recipe:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        type_id:
          type: integer
          format: int64
          example: 4
        name:
          type: string
          example: Рецепт вкусняшек
        description:
          type: string
          example: Мега вкусные вкусняшные вкусняшки
        source:
          type: string
          example: https://vt.tiktok.com/ZSRoVpbng/
        time:
          type: integer
          example: 15
        portion:
          type: integer
          example: 300
    Component:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        name:
          type: string
          example: Часть вкусняшки
        count:
          type: string
          example: 1 уп
        description:
          type: string
          example: Самая главная часть вкусняшки
        receipt_id:
          type: integer
          format: int64
          example: 2
    Step:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        description:
          type: string
          example: Первый ша
        receipt_id:
          type: integer
          format: int64
          example: 2
        photo:
          type: integer
          format: int64
          enum:
           - 0
           - 1
          example: 0
